 *{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
 }

 html, body{
    width: 100%;
    height: 100%;
 }

 #main{
    width: 100%;
 }
 #hero{
    width: 100%;
    height: 100vh;
    background-color: black;
 }
 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
 }
 #nav a {
    color: white;
    text-decoration: none; /* removes underline */
    font-size: 18px;
 }